<a href="https://colab.research.google.com/github/Wolfgrey00/My-projects/blob/main/Funciones_propias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def is_year_leap(year):
    if year%4 != 0:
        return False
    elif year%100 != 0:
        return True
    elif year%400 != 0:
        return False
    else:
        return True

test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range(len(test_data)):
	yr = test_data[i]
	print(yr,"->",end="")
	result = is_year_leap(yr)
	if result == test_results[i]:
		print("OK")
	else:
		print("Fallido")

1900 ->OK
2000 ->OK
2016 ->OK
1987 ->OK

In [11]:
def is_year_leap(year):
    if year%4 != 0:
        return False
    elif year%100 != 0:
        return True
    elif year%400 != 0:
        return False
    else:
        return True

def days_in_month(year, month):
    m31 = [1, 3, 5, 7, 8, 10, 12]
    m30 = [4, 6, 9, 11]
    if is_year_leap(year) == True and month == 2:
        return 29
    elif month in m31:
        return 31
    elif month in m30:
        return 30
    elif is_year_leap(year) == False and month == 2:
        return 28
    else:
        return None


test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_results = [28, 29, 31, 30]
for i in range(len(test_years)):
  yr = test_years[i]
  mo = test_months[i]
  print(yr, mo, "->", end="")
  result = days_in_month(yr, mo)
  if result == test_results[i]:
    print("OK")
  elif result == None:
	  print(None)
  else:
    print("Fallido")

1900 2 ->OK
2000 2 ->OK
2016 1 ->OK
1987 11 ->OK

In [14]:
def isYearLeap(year):
    if year%4 != 0:
        return False
    elif year%100 != 0:
        return True
    elif year%400 != 0:
        return False
    else:
        return True
def daysInMonth(year, month):
    diasPorMes = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    if isYearLeap(year):
      if diasPorMes[month - 1] == 28:
        return 29
      else:
        return diasPorMes[month - 1]
    else:
      return diasPorMes[month - 1]
    return None

def dayOfYear(year, month, day):
    if year < 1582:
        return None
    if month > 12 or month < 1:
        return None
    if day > daysInMonth(year, month) or day < 1:
        return None

    totalDias = day
    month = month - 1
    while month > 0:
        totalDias += daysInMonth(year, month)
        month -= 1
    return totalDias

print(dayOfYear(2000, 12, 31))

366

In [20]:
def is_prime(num):
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

for i in range(1, 20):
	if is_prime(i + 1):
			print(i + 1, end=" ")
print()

2 3 5 7 11 13 17 19

In [42]:
def liters_100km_to_miles_gallon(liters):
    miles = 100 * 1000 / 1609.344
    gallons = liters / 3.785411784
    return miles / gallons

def miles_gallon_to_liters_100km(miles):
    liters = 3.785411784
    kilometers = miles * 1609.344 / 100000
    return liters / kilometers

print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

60.31143162393162
31.36194444444444
23.52145833333333
3.900739358761747
7.490910297239916
10.009131205673759